body ,html{
    height:100%;
    margin:0;
    font-size:16px;
    font-weight: 400;
    color: #666;
}

.pic1{
    background-image: url(./images/pexels-mayday-1545743.jpg);
    
    min-height: 100%;
}

.pic2{
    background-image: url(./images/pexels-pixabay-248747.jpg);
    min-height: 400px;
}

.pic3{
    background-image: url(./images/pexels-pixabay-315938.jpg);
    min-height: 400px;
}

.pic4{
    background-image: url(./images/pexels-pixabay-326259.jpg);
    min-height: 400px;
}

.pic5{
    background-image: url(./images/pexels-orestsv-2062555.jpg);
    min-height: 700px;
}


.pic1, .pic2, .pic3, .pic4,.pic5{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section p{
    text-align: justify;
}

.section-light{
    background-color: #f4f4f4;
    color:#666
}

.section-dark{
    background-color: #282e34;
    color:#ddd
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border .trans{
    background-color: transparent;
}

@media(max-width:568px){
    .pic1, .pic2 ,.pic3{
        background-attachment: fixed;
    }
}